@import 'fonts';
$color: black;
body {
  background-color: white;

  font-family: 'Oswald', sans-serif;
}
h1 {
  color: $color;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
p {
  color: black;
  font-size: 1.5rem;
}
a {
  color: #111111;
}
